[Unit]
Description=Start x11vnc-server at startup
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/x11vnc -auth guess -once -loop -noxdamage -repeat -o /var/log/x11vnc.log -rfbauth /home/advantech/.vnc/passwd -rfbport 5900 -shared -capslock -nomodtweak

[Install]
WantedBy=multi-user.target
